body {
    font-family: sans-serif;
}
header b {
    text-align: center;
    color: indigo;
    margin: 20px 80px;
}
header a {
    border: solid 1px lightgreen;
    background-color: palegreen;
    text-decoration: none;
    color: MediumSeaGreen;
    border-radius: 30px;
    padding: 5px;
}
header {
    background-color: lightblue;
    border: solid 10px lightblue;
}
main h1 {
    font-family: cursive;
    text-align: center;
    color: RosyBrown;
    background-color: LavenderBlush;
    text-transform: uppercase;
}
footer {
    background-color: Bisque;
    border: solid 3px Wheat;
}
footer p{
    background-color: FloralWhite;
    color: Brown;
    text-align: center;
}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    border: solid 3px NavajoWhite;
    background-color: Cornsilk;
    padding: 5px;
}
.price {
    background-color: Thistle;
    border: solid 3px Thistle;
    border-radius: 15px;
}
main h2{
    font-family: monospace;
    text-align: center;
    color: SteelBlue;
    background-color: LightCyan;
    padding: 10px;
}
.twoimg {
    width: 650px;
    height: 450px;
}
.bottom {
    text-decoration: none;
    color: IndianRed;
    background-color: PapayaWhip;
    border: solid 1px FireBrick;
    padding: 5px;

}
